.login-container {
  position: relative;
  margin: 0px 8px;
}

.login-form-container {
  border: 3px solid #f1f1f1;
  justify-content: center;
  padding: 16px;
}

.logo-container {
  justify-content: center;
  display: flex;
}
.logo-container img {
  width: 50%;
  border-radius: 50%;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#remember + span {
  margin-left: 4px;
}

button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: 900;
}
